// Footer
#footer-services {
  background-color:$black;
  color:white;
  padding-left:5px;
  padding-right:5px;
}
#footer-services img {
  max-width:225px;
  margin:0 auto;
  margin-bottom:rem(30);
  filter: invert(100%);
}

#footer-services p.lead {
  padding:0 1em;
  margin-bottom:0;
  font-size:rem(16);

  @include bp(md) {
    padding:0 1em;
    margin-bottom:0;
  }

  @include bp(lg) {
    padding:0 12em;
    margin-bottom:0;
  }
}

#footer-services ul {
  list-style-type: none;
  margin-bottom:0;
  padding-left:0;
  border-top:1px solid rgba(255,255,255,0.1);
}
#footer-services ul li {
  display:inline-block;
  color:white;
  padding:2em;
}
#footer-services ul li a {
  font-family: $font-display;
  color:white;
  border-bottom:2px solid $black;
  padding-bottom:0;
  @include transition(all .3s);
  font-size:rem(16);

  &:hover {
    text-decoration:none;
    color:$highlight;
    border-bottom-color:$highlight;
    padding-bottom:.5em;
    @include transition(all .3s);
  }
}
#footer-services .footer-newsletter {
  margin-top:1.5em;
  display: inline-block;
}
#footer-services .footer-newsletter p,
#footer-services .footer-newsletter .fa {
  color:white;
}
#footer-services .footer-newsletter .fa:hover {
  text-decoration: none;
}
#footer-services .footer-newsletter input {
  border:0;
  border-bottom:1px solid white;
  background-color:transparent;
  color:white;
  outline:0;
  padding:em(5);
  margin-left:em(5);
  border-radius:0;
}

footer {
  margin-top:0;
  background-color: $black;
  color:white;
  text-align:center;
  min-height:65px;
  padding:20px 15px;
  border-top:1px solid rgba(255,255,255,0.1);
}
footer a {
  color:$highlight;
}
footer span {
  font-size:rem(13);
}
.footer-social .fa {
  padding-left:5px;
  padding-right:5px;
  font-size:em(20);
  margin-top:0.67em;
  color:white;
}
