// Footer
footer {
  background-color:$black;
  color:white;
  padding:em(15);
  text-align:center;
  @include clearfix;

  @include bp(lg) {
    text-align:left;
  }
}
footer .footer-info {
  font-size:em(12);
  display:block;
  margin-bottom:0;
  margin-top:5px;

  @include bp(lg) {
    display:inline-block;
    float:left;
  }
}
footer .footer-info a {
  color:$highlight;
}
footer form {
  display:block;  
  padding:0 15px;
  width:70%;
  margin-top:1em;
  margin-left:auto;
  margin-right:auto;

  @include bp(lg) {
    float:left;
    display:inline-block;
    width:21%;    
    margin:0;
  }
}
footer form input {
  background:transparent;
  border:0;
  border-bottom:1px solid white;
  color:white;
  width:85%;
  font-size:em(14);
  padding:.25em;
}
footer form button {
  background-color:transparent;
  border:0;
  color:white;
}
footer .footer-social {
  color:white;
  margin-top:1em;

  @include bp(lg) {
    float:right;
    margin-top:0;
  }
}
footer .footer-social .fa {
  color:white;
  font-size:em(20);
  padding-left:10px;  
}


// .btn-top {
//   position:fixed;
//   padding:.5em .75em;
//   background-color:white;
//   right:0;
//   bottom:1em;
//   display:none;
// }
// .btn-top .fa {
//   font-size:em(14);
//   color:$black;
// }
