// Homepage
.home .lg-hero__overlay h1 {
  margin-top:0;
  @include bp(md) {
    font-size:em(57.331);
  }
}
.home .lg-hero__overlay p {
  font-size:1.2em;
}
#home-wrapper {
  padding-top:em(16);
}
.panel-latest {
  @include span-columns(12);
  border-top:1px solid $grey;
  border-bottom:1px solid $grey;
  background-color: white;
  position: relative;
  z-index: 0;
  padding:em(30);
  transition: all .3s ease;

  @include bp(md) {
    @include span-columns(4);
    @include omega();
    width:33.33333333333333%;
    border-right:1px solid $grey;
  }
}
.panel-latest:hover {
  text-decoration: none;
  background-color:transparent;
  color:white;
  transition: all .3s ease;
}
.panel-latest::after {
  content:'';
  background-image: url('images/wl_bg-1.svg');
  background-size:cover;
  background-position: center center;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:-3px;
  z-index: -1;
  opacity:0;
  transition: all .3s ease;
}
.panel-latest:hover::after {
  opacity:1;
  transition: all .3s ease;
}
.panel-latest:nth-child(3) {
  border-right:0;
}
.carousel-indicators li{
  border-radius:0;
}

// Our Work
.page-work .work-filter {
  width:100%;
  padding:em(30);
  margin-bottom:1em;
  margin-top:1em;
  position:relative;
  height:auto;
  overflow-y:visible;
  @include transition(all .3s ease);
}
.page-work .work-filter p {
  font-size:rem(16);
  display: inline-block;
  font-family:'Nexa Bold';
}

.page-work .work-filter h4 {
  margin-top:0;
  margin-bottom:1.2em;  
  display:inline-block;

  @include bp(md) {
    float:left;
  }
}

.page-work .work-filter .fa {
  margin-left:1em;
  transform:rotate(0deg);
  -webkit-transform:rotate(0deg);
  cursor: pointer;
  @include transition(all .3s);
}
.page-work .work-filter .fa.rotate-180 {
  transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  @include transition(all .3s);
}

.work-filter .work-filter-list {
  list-style-type: none;
  padding-left:0;
  padding-bottom: 3rem;
  margin-bottom: 0;
  margin-top:0;
}
.work-filter .work-filter-list > li {
  display:block;
  float:left;
  width:100%;
  padding-top:.15em;
  padding-bottom:.15em;

  @include bp(md) {
    width:50%;
  }
}
.work-filter .work-filter-list > li > a {
  color:$black;
  font-family:$font-display;
  cursor:pointer;
  border-bottom:1px solid transparent;
  padding-bottom:5px;
  color:$dark-grey;
  font-size:rem(14);
  @include transition(all .3s);

  &:hover {
    border-color:$black;
    color:$black;
    text-decoration: none;
    @include transition(all .3s);
  }
}
.work-filter .work-filter-list li:first-of-type {
  border-left:0;
}

.page-work #work-grid {
  // padding:2rem 1rem;
  // padding-left:calc(1rem + 5px); 
  padding:1em;
  padding-left:1.2em;
}

.work-filer__discipline {
  @include span-columns(12);

  @include bp(md) {
    @include span-columns(6);
  }
}
.work-filer__sector {
  @include span-columns(12);

  @include bp(md) {
    @include span-columns(6);
  }
}
#list-wrap.collapse {
  overflow: hidden;
  max-height:0;
  transition:all .3s ease;
}
#list-wrap.collapse.in {
  overflow: auto;
  max-height:none;
  transition:all .3s ease;
}
.filter-grid .folio-item {
  @include span-columns(12);
  margin-bottom:15px;

  @include bp(md) {
    margin-right:0;
    margin-right:15px;
    @include omega(3n);
    width: calc(33.33333333333333333333333333333333% - 15px);
  }
}
// About Us
.page-about-us .lg-hero__overlay {
  text-align:center;
  align-items: center;
}
.about-us__content {
  padding:em(30);
  @include span-columns(12);

  @include bp(md) {
    @include span-columns(6);
    width:50%;
    margin-right:0;
    // height:468px;
    // display:flex;
    // justify-content: center;
    // flex-direction:column;
  }
}
#about-us-team aside {

  @include bp(md){
    width:50%;
    float:left;
  }
}
#about-us-team aside .carousel,
#about-us-team aside .img-block,
#about-us-team aside .carousel-inner,
#about-us-team aside .carousel-inner .item {
  height:100%;
}
.about-us-team__block {
  @include span-columns(12);

  @include bp(md) {
    @include span-columns(6);
    @include omega();
    width:50%;
  }
}
.about-us-team__content {
  // background-color:$secondary;
  // color:white;
  padding:em(30);
  border-box:box-sizing;
}
.client-logo__wrap {
  @include span-columns(12);  

  @include bp(md) {    
    @include span-columns(3);
    @include omega(4n);
    width:25%;
    margin-right:0;
  }
}
#about-us-clients .row {
  border-bottom:1px solid $grey;
  margin-top:em(30);
  margin-bottom:em(30);
}
.client-logo__wrap {
  border-top:1px solid $grey;
  border-left:1px solid $grey;
}
.client-logo__wrap:nth-child(4n) {
  border-right:1px solid $grey;
}
.client-logo__wrap img {
  padding:2em;
  // filter:grayscale(100%);
  transition:all .3s ease;
  max-width:60%;
  margin-left:auto;
  margin-right:auto;

  @include bp(md) {
    padding:2em;
    max-width:80%;
  } 
}
#testimonial-carousel .testimonial-item__wrap {

  @include bp(md) {
    @include span-columns(8);
    @include shift(2);
  }
}
#testimonial-carousel .testimonial-item__wrap img {
  border-radius: 50%;
  width: 150px;
  height:120px;
  margin-left:auto;
  margin-right:auto;
}
#testimonial-carousel .testimonial-item__content {
  text-align: center;
}
#testimonial-carousel .testimonial-item__content blockquote {
  margin:0;
  margin-top:1em;
}

// Contact

.contact-main__block {
  @include span-columns(12);

  @include bp(md) {
    @include span-columns(6);
    @include omega();
    width:50%;
  }
}
.contact-main__content {
  padding:em(30);
  border-box:box-sizing;
}
.contact-info__block {
  @include span-columns(12);

  @include bp(md) {
    @include span-columns(6);
    @include omega();
    width:50%;
  }
}
.contact-info__content {
  background-color:$secondary;
  color:white;
  padding:em(30);
  box-sizing:border-box;
  height:100%;
}
.contact-info__content a {
  color:white;
}
.contact-info__content .fa {
  padding-left:5px;
  padding-right:5px;
  font-size:em(20);
}
.contact-map__wrapper {
  @include span-columns(12);

  @include bp(md) {
    @include span-columns(6);
    @include omega();
    width:50%;
  }
}
.contact-map__wrapper iframe {
  min-height: 350px;
}
.contact-form__wrapper {
  @include span-columns(12);
  text-align: center;
  padding-top:2em;

  @include bp(md) {
    @include span-columns(6);
    @include omega();
    width:50%;
    padding-top:0;
  }
}
.contact-form__wrapper h3 {
  margin-top:1.8em;
}
.contact-form__wrapper input,
.contact-form__wrapper textarea {
  max-width: calc(100% - 30px);
}
.contact-form__wrapper input,
.contact-form__wrapper textarea {
  border-radius:0;
  padding:.5em;
  border:1px solid $grey;
  box-shadow: none;
}
.contact-form__wrapper .wpcf7 {
  padding-top:em(60);
}
.contact-form__wrapper .wpcf7 input[type="submit"] {
  background-color:transparent;
  color:$black;
  padding:.5em 0;
  text-transform: uppercase;
  border:0;
  border:1px solid $grey;
  font-family:'Nexa Bold', sans-serif;
  transition:all .3s ease;
  display:inline-block;
  width:25%;

  &:hover {
    background-color:$black;
    color:white;
    border-color:$black;
    transition:all .3s ease;
  }
}

// Services
.page-services .lg-hero__overlay {
  text-align: center;
}
.panel-services {
  @include span-columns(12);
  border-bottom:1px solid $grey;
  background-color: white;
  padding:em(30);
  background-image:none;
  position: relative;
  z-index: 0;
  transition: all .3s ease;

  @include bp(md) {
    @include span-columns(4);
    @include omega();
    width:33.33333333333333%;
    border-right:1px solid $grey;
  }
}
.panel-services:hover {
  text-decoration: none;
  color:white;
  transition: all .3s ease;
}
.panel-services::after {
  content:'';
  background-image: url('images/wl_bg-1.svg');
  background-size:cover;
  background-position: center center;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:-3px;
  z-index: -1;
  opacity:0;
  transition: all .3s ease;
}
.panel-services:hover::after {
  opacity:1;
  transition: all .3s ease;
}
.panel-services:nth-child(3) {
  border-right:0;
}
.panel-services:hover h4 {
  border-color:white;
}
.panel-services h4 {
  border-bottom:1px solid $black;
  display: inline-block;
  padding-bottom:5px;
}
.panel-services__contact {
  color:white;
 
}
.panel-services__contact h4 {
  border-color:white;
}
.panel-services__contact::after {
  opacity:1;
}
.service-features__list {
  list-style-type: none;
  padding-left:0;
  margin-top:2em;
  display: block;
  @include clearfix;
}
.service-features__list li {  
  box-sizing: border-box;
  background-color: #e7e7e7;
  padding: .5em 1em;
  display: inline-block;
  margin: 2.5px;
  transition: all 0.3s;
}
.service-features__list li p {
  color:$black;
  font-family:'Nexa Bold';
  font-size:em(14);
  text-transform: uppercase;
  transition: all .3s ease;
}
.panel-services:hover .service-features__list li p {
  color:white;
  transition: all .3s ease;
}

// Blog
#blog {
  padding-top: em(30);
}
.panel-blog {
  @include span-columns(12);
  background-color: white;
  padding:em(30);
  position: relative;
  margin-bottom:0.6em;
  padding-top:22em;
  padding-bottom: 4em;

  @include bp(md) {
    @include span-columns(6);
    @include omega(2n);
  }
}
.panel-blog .panel-heading {
  position: absolute;
  top:0;
  left:0;
  right:0;
  height:20em;
  background-size:cover;
}
.panel-blog .panel-body a {
  position: absolute;
  bottom:1em;
  left:2em;
}

// 404
#four-oh-four {
  text-align:center;
  background-color:white;
  padding:0;

  @include bp(md) {
    text-align:left;
  }
}
.four-oh-four__wrap h1 {
  margin-top:1em;

  @include bp(md) {
    margin-top:3em;
  }
}
.four-oh-four__wrap {
  padding:em(30);
  background-color:$secondary;
  @include clearfix;
  color:white;
  background-repeat:no-repeat;
  background-size:cover;
  background-image:url('images/wl_bg-1.svg');
}
.four-oh-four__wrap .img-wrap {

  @include bp(md) {
    @include span-columns(5);
    float:right;
  }
}
.four-oh-four__wrap .content-wrap {

  @include bp(md) {
    @include span-columns(6);
  }
}
.four-oh-four__wrap img {
  margin-left:auto;
  max-width:80%;
  height:auto;
}
.four-oh-four__wrap input {
  border:0;
  border-bottom:1px solid white;
  background-color:transparent;
  color:white;
}
.four-oh-four__wrap input[type="submit"] {
  background-color:white;
  color:$secondary;
  font-family:'Nexa Bold', sans-serif;
  text-transform:uppercase;
  border:0;
  margin-top:0;
  font-size:em(14);
  padding:.5em 1em;  
  display:none;
}

// Search Results
.search .page-header {
  background-color:$secondary;
  padding:em(30);
  color:white;
  @include clearfix;
  background-repeat:no-repeat;
  background-size:cover;
  background-image:url('images/wl_bg-1.svg');
}
.search .page-header .page-title  {
  @include span-columns(12);

  @include bp(md) {
    @include span-columns(4);
  }
}
.search .search-result__item {
  @include span-columns(12);
  @include clearfix;
  padding:em(30);
  border-bottom:1px solid $grey;
  border-right:1px solid $grey;

  @include bp(md) {
    @include span-columns(4);
    @include omega(3n);
  }
}
.search .search-result__ptype {
  color:lighten($black, 25%);
}
.search input {
  border:0;
  border-bottom:1px solid white;
  background-color:transparent;
  color:white;
}
.search input[type="submit"] {
  background-color:white;
  color:$secondary;
  font-family:'Nexa Bold', sans-serif;
  text-transform:uppercase;
  border:0;
  margin-top:0;
  font-size:em(14);
  padding:.5em 1em;  
  display:none;
}
.search .nothing-found__content {
  padding:em(30);
  text-align:center;
}