// Single Case Studies
.single-service main {
  margin-top:1em;
}
#case-study-info {
  background-color: white;
  padding:em(30);
}
.case-study__content {
  @include span-columns(12);

  @include bp(md){
    @include span-columns(8);
  }
}
.single-casestudy .lg-hero__overlay h1 {
  text-align: center;
}
.single-casestudy .lg-hero__overlay p {
  max-width:80%;
  margin-left:auto;
  margin-right:auto;
  text-align: center;

  @include bp(md){
    max-width:40%;
  }
}
.single-casestudy .lg-hero__overlay a.fa {
  opacity:0.8;
  color:white;
  margin-top:0.5em;
  &:hover {
    text-decoration: none;
  }
}

.single-casestudy #casestudy-info h3 {
  margin-top:0;
}
.single-casestudy #casestudy-info p:last-of-type {
  margin-bottom:0;
}

.single-casestudy #case-study .container-fluid {
  background-color: white;
}
#casestudy-content {
  background-color: white;
}

.single-casestudy #casestudy-content img {
  margin-bottom:10px;
}

.single-casestudy .img-wrap img {
  @include bp(md){
    width:calc(100% / 2 - 10px);
    float:left;
    height:auto;
    margin:5px;
  }
}
.case-study__2up {
  @include span-columns(12);

  @include bp(md) {
    @include span-columns(6);
  }
}
.case-study__txtblock {
  background-color: white;
  padding:em(60);
  text-align:center;
}

.single-casestudy .sectors span {
  background-color: #e7e7e7;
  padding:.5em 1em;
  display:block;
  margin:2.5px;
  @include transition(all .3s);

  @include bp(md){
    display:inline-block;
  }

  &:hover {
    background-color: $highlight;
    @include transition(all .3s);
  }
  &:hover a {
      color:$black !important;
  }
}
.single-casestudy .deliverables span {
  font-style:italic;
  @include font-size(1.4);
}
#single-service__features {
  padding:em(30);
  padding-top:em(60);
}
#single-service__features .single-service__3up {
  @include span-columns(12);
  text-align:center;

  @include bp(md) {
    @include span-columns(4);
    @include omega(3n);
  }
}



// Blog Single
#blog-hero {
  position:absolute;
  top:0;
  left:0;
  right:0;
  z-index:-1;
}
#blog-wrap {
  @include span-columns(12);

  @include bp(md) {
    @include span-columns(9);
  }
}
#blog-content {
  background-color: white;
  padding:rem(30) rem(60);
  margin-top:10rem;
  position: relative;
  text-align: center;
}
#blog-content h1{
  max-width: 90%;
  margin-left:auto;
  margin-right:auto;

  @include bp(md) {
    max-width:75%;
  }
}
#blog-content .small {
  margin-bottom:15px;
}
#blog-content .addthis_sharing_toolbox {
  margin-bottom:15px;
  margin-top: 30px;
}
#blog-content .wp-post-image {
  margin-bottom:30px;
  max-width: 100%;
  height:auto;
  display:block;
}
#blog-content img {
  margin-left:auto;
  margin-right:auto;
}

.blog-bk-tag {
  position: absolute;
  right:1.2em;
  top:-2.5em;
  padding:.5em 1em;
  background-color:$highlight;
  font-weight: 700;

  &:hover {
    color:$highlight;
    background-color:$black;
  }
}
